<div class="mb-5">
    <% if user_signed_in? %>
    <div class="float-right">
        <%= link_to "dodaj razred", new_class_path, class: "btn btn-outline-secondary" %>
    </div>
    <% end %>
</div>

<% if @classes.size > 0 %>
    <% @classes.each do |class| %>
    <div class="card mb-3 p-3 ">
        <h3><%= link_to class.name, class %></h3>
        <a class="">Rules:</a> <%= simple_format class.rules, class: "font-italic" %>
    </div>
    <% end %>
<% else %>
<p>No subreddits to display.</p>
<% end %>