<%= month_calendar attribute: :start_time, events: @tasks do |date, tasks| %>

  <p class="h6"><%= date %></p>
  <% tasks.each do |task| %>
    <div>
      <%= task.title %>
    </div>
  <% end %>
<% end %>
